@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Edu NSW ACT Foundation', cursive;
  color: #333;
}

html {
  width: 100%;
  height: 100%;
}

body{
  background-color: #aab7fd;
}
.content{
  position: relative;
  min-height: 100vh;
}
.page-content {
  max-width: 300px;
  margin: auto;
  padding: 6rem;
}


/* base components */
/*
 Here i describe my basic components from the html page
*/
.box{
  border-radius: 6px;
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  height: 30%;
  margin-top: 10px;
  text-align: center;
  
}
.title h1{
  margin-top: 15%;
  width: auto;
  height: auto;
  
}

.form .form-pair{
  margin: 20px;
  display: flex;
  flex-direction: column;
} 

.form input{
  border: 0;
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  min-height: 28px;
  vertical-align: middle;
  transition: background-color .24s,box-shadow .24s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.24s, 0.24s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

.button-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button{
  margin: 0 20px;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-size:20px;;
  height: 44px;
  line-height: 1.15;
  text-align: center;
  width: 260px;
}

.submit-button:active {
  color: #8ca2e7;
  background-color: #2e57dd;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(13, 90, 179, 0.3) 0 0 0 4px;
}

.link {
  margin-bottom: 5px;
  font-size: 18px;
  height: 30px;
  text-align: center;
}
.link :hover{
  color: #2e57dd;
}

.checkbox-wrap{
  margin: 20px;
  display: block;
  text-align: center;
}
.checkbox-wrap .checkbox{
  box-shadow: none;
}

/*
 Here I override the components's css if needed for reusing purposes  
*/


/* login form */

/* sign-in form */
.sign-in .title{
  height: 100px;
}

/* account-info-form */
.account-info-form .submit-button{
  margin-bottom: 20px;
}
.account-info-form .page-content{
  max-width: 800px;
}
.account-info-form .box {
  width: 800px;
}
.form-content{
  display: flex;
  flex-direction: row;
}
.form-content .side{
  width: 50%;
}
/* Terms page */
.terms .p-wrap{
  border-radius: 5px;
  margin: 20px;
  background-color: #e7e7e7;
  text-align: center;
}

.terms .page-content{
  max-width: 800px;
}
.terms .box{
  width: 800px;
}

/* home */
.home .page-content{
  max-width: 90vh;
}
.home .box{
  width: 100vh;
  min-height: 60vh;
}


/* navbar */
nav{
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;            /* Nav height */
}

nav .box{
  border-radius: 0;
  box-shadow: none;
  box-shadow: 0px 4px 5px #6976c0;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav .logo{
  background-color: #6e84ff;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

nav .logo img{
  width: 100%;
  height: 100%;
}

nav .box .link-wrap {
  width: 10%;
  height: 100%;
  margin-top: auto;
  text-align: center;
}
nav h2{
  padding: 2.5vh 0;
}
nav .box .link-wrap:hover{
  background-color: #aab7fd;  
}
#logout{
  color: rgb(172, 18, 18);
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;            /* Footer height */
}
footer .box{
  border-radius: 0;
  box-shadow: none;
  box-shadow: 0px 4px 10px #8890b8 inset;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
footer .box .link-wrap{
  width: 50%;
  text-align: center;
  justify-content: center;
}
footer .link{
  margin-top: 1.5rem;
}
footer .contact-wrap{
  width: 50%;
  height: 4.5rem;
  text-align: center;
  margin-top: 0.5rem;
}
/* Balance List*/
.balanceElement{
  padding: 5px;
  width: 100%-5px;
  max-height: 100px;
}

.balanceElement a{
  display: flex;
  justify-content: center;
}
.element-box{
  border-radius: 6px;
  background-color: #dbdada;
  width: 90%;
  height: 50px;
}
.balance-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.balance-id-wrap{
  text-align: left;
  padding: 10px;
  height: 30px;
  width: 50%;
}
.balance-data-wrap{
  text-align: right;
  padding: 10px;
  height: 30px;
  width: 50%;
}
.balance-data-wrap h3{
  height: 30px;
}
.balanceElement .submit-button{
  font-size: 30px;
}

/* Account */
.account .page-content{
  max-width: 90vh;
}
.account .box{
  padding-bottom: 25px;
  width: 100vh;
  display: flex;
  flex-direction: column;
}
.account .box h1{
text-align: center;
}
.data-pair{
  width: 100%;
  display: flex;
  flex-direction: row;  
}
.data-pair .name{
  
  width: 30%;
  text-align: left;
}
.data-pair .value{
  width: 70%;
  text-align: left;
}
.data-pair h2{
  padding: 10px;
}
.account .box .form-content{
  width: 100%;
  display: flex;
  justify-content: center;
}
.account .box .content-box{
  margin: 0 auto;
  height: 100%;
  width: 95%;
  background-color: #c1dcff;
  border-radius: 6px;
  margin-bottom: 25px;
}

/* Stats */
.stats .page-content{
  max-width: 90vh;
}
.stats .box{
  padding-bottom: 25px;
  width: 100vh;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.stats .title {
  margin-bottom: 10px;
}

.content-box{
  margin: 0 auto;
  min-height: 50px;
  height: 7vh;
  width: 95%;
  background-color: #c1dcff;
  border-radius: 6px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}

.options{
  width: 30%;
}

.selector{
  width: 80%;
  margin: 20px;
  font-size: 18px;
}

.param{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: row;
  -ms-flex-align: end;
}

.stats .form-pair{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.selector-mini{
  width: 50%;
  align-self: center;
}

.stats .graph .content-box{
  background-color: #d3d3d3;
  min-height: 50vh;
}

/* Exchange Rates*/
.exchange-rates .page-content{
  max-width: 90vh;
}
.exchange-rates .box{
  padding-bottom: 25px;
  width: 100vh;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.exchange-rates .title {
  margin-bottom: 10px;
}


.exchange-rates .form-pair{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.selector-mini{
  width: 50%;
  align-self: center;
}

/*Converter*/
.converter .page-content{
  max-width: 90vh;
}
.converter .box{
  padding-bottom: 25px;
  width: 100vh;
  display: flex;
  flex-direction: column;
}
.converter .title {
  margin-bottom: 10px;
}

.converter .form-pair{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.selector-mini{
  width: 50%;
  align-self: center;
}
.converter .submit-button{
  margin-bottom: 25px;
}

.answer{
  width: 20%;
}

.answer-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* Reminders */
.reminders .page-content{
  max-width: 90vh;
}
.reminders .box{
  padding-bottom: 25px;
  width: 100vh;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
}
.reminders .title {
  margin-bottom: 10px;
}

.reminder-preview .element-box{
  height: auto;
  margin: 15px auto;
}

.reminders .data-pair .value{ 
  width: 60%;
}

.data-pair .button-wrap .submit-button{
  width: 50px;
}
.data-pair .button-wrap{
  width: 10%;
}

/* Create Reminder*/
.create-reminder .page-content{
  max-width: 90vh;
}
.create-reminder .box{
  padding-bottom: 25px;
  width: 100vh;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
}
.create-reminder .title {
  margin-bottom: 10px;
}

.reminder-preview .element-box{
  height: auto;
  margin: 15px auto;
}

.create-reminder .data-pair .name{ 
  width: 50%;
}

.create-reminder .data-pair .value{ 
  padding: 10px;
  width: 50%;
}

.data-pair .button-wrap .submit-button{
  width: 50px;
}
.data-pair .button-wrap{
  width: 10%;
}
.create-reminder .form input{
  min-width: 90%;
}
/* Balance */

.balance .page-content{
  max-width: 90vh;
}
.balance .box{
  padding-bottom: 25px;
  width: 100vh;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}
.balance .title {
  margin-bottom: 10px;
}

.balance .form-pair{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.balance .form-pair .selection{
  margin: 0 25%;
  width: 50%;
}

.tran .content-box{
  flex-direction: column;
  height: auto;
}

/*Balance history*/

.balance-history .page-content{
  max-width: 90vh;
}
.balance-history .box{
  padding-bottom: 25px;
  width: 100vh;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}
.balance-history .title {
  margin-bottom: 10px;
}

.balance-history .form-pair{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.balance-history .form-pair .selection{
  margin: 0 25%;
  width: 50%;
}

.tran .content-box{
  flex-direction: column;
  height: auto;
}

/*Make Transaction*/
.transaction .submit-button{
  margin-bottom: 25px;
}

/*Not Found Page*/
/*no need*/